<style>

.ccm-block-page-list-pages {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 2em auto;
}

.ccm-block-page-list-pages div {
    width: 100%;
    height: 100%;
}

.ccm-block-page-list-pages .ccm-block-page-list-page-entry {
    height: 7em;
    max-width: 80%;
    flex-grow: 1;
    transition: all .2s ease-in-out;
}

.ccm-block-page-list-page-entry .ccm-block-page-list-title {
    background-color: #454545;
    background-image: url('http://vaultice.com/application/files/6614/7250/2647/bottom_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.ccm-block-page-list-page-entry:nth-child(1) .ccm-block-page-list-title {
    background-image: url('http://vaultice.com/application/files/6614/7250/2647/bottom_2.jpg');
}

.ccm-block-page-list-page-entry:nth-child(2n) .ccm-block-page-list-title {
    background-image: url('http://vaultice.com/application/files/7614/7250/2647/bottom_1.jpg');
    background-position: bottom left;
}

.ccm-block-page-list-page-entry:nth-child(3n) .ccm-block-page-list-title {
    background-image: url('http://vaultice.com/application/files/7414/7250/3990/roundB_2.jpg');
    background-position: right;
}

.ccm-block-page-list-page-entry:nth-child(4n) .ccm-block-page-list-title {
    background-image: url('http://vaultice.com/application/files/8014/7250/3360/prince_bottom.jpg');
    background-position: left;
}

.ccm-block-page-list-page-entry:nth-child(5n) .ccm-block-page-list-title {
    background-image: url('http://vaultice.com/application/files/5014/7250/3361/prince_bottom_1.jpg');
    background-position: bottom right;
}

.ccm-block-page-list-title:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}

.ccm-block-page-list-title a {
    font-family: TradeGothicLTPro-BdCn20 !important;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.ccm-block-page-list-title a:before,
.ccm-block-page-list-title a:after {
    content: '';
    width: 50%;
    height: 3px;
    position: absolute;
    left: 25%;
    background: white;
}

.ccm-block-page-list-title a:before {
    top: 25%;
}

.ccm-block-page-list-title a:after {
    bottom: 25%;
}

@media screen and (min-width: 540px) {
    .ccm-block-page-list-pages {
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0 2em;
        max-width: 62em;
    }

    .ccm-block-page-list-pages .ccm-block-page-list-page-entry {
        height: 10em;
        max-width: 48%;
    }

    .ccm-block-page-list-page-entry:nth-child(3n) {
        max-width: 98%;
    }

    .ccm-block-page-list-title a:before {
        top: 35%;
    }
    
    .ccm-block-page-list-title a:after {
        bottom: 35%;
    }
}

@media screen and (min-width: 768px) {
    .ccm-block-page-list-title:before {
        background: rgba(0,0,0,0.3);
    }

    .ccm-block-page-list-title a:hover {
        background: rgba(0,0,0,0.5);
    }

    .ccm-block-page-list-page-entry:hover {
        transform: translate3d(0px, -2px, -2px) scale(1.01);
        box-shadow: 0 4px 12px -3px black;
    }
}

</style>