<style>

.ccm-block-page-list-pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 6em 0 8em;
}

.ccm-block-page-list-title a {
    padding: 0.5em 1em;
    color: black;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11em;
    margin: 0.5em;
    font-weight: 400;
    height: 8em;
}

.ccm-block-page-list-title a:hover {
    color: white;
    background: black;
}


</style>