<style>
    .menu-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .menu-wrapper li a {
        padding: 0.5em 1em;
        color: black;
        border: 1px solid black;
        transition: all 0.2s ease-in-out;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 11em;
        margin: 0.5em;
    }
    .menu-wrapper li a:hover {
        color: white;
        background: black;
    }

    .menu-wrapper li a.active {
        background: black;
        color: white;
        cursor: default;
    }

    .ccm-block-page-list-description {
        display: none;
    }

    @media screen and (max-width: 540px) {
        .menu-wrapper {
            flex-direction: column;
        }
    }

</style>